# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @mans-apps-engineering will be requested for
# review when someone opens a pull request.

*        @mans-apps-engineering

LICENSE        @mans-apps-admins

.github/CODEOWNERS        @mans-apps-admins

